{% extends "layout.html" %}

{% block title %}Question 4: Favorite Drink {% endblock %}

{% block content %}
	<h2>Question 4: What is your favorite drink?</h2>

<question>
	<form action={{ url_for("renderPage5") }} method="POST">
	<input type="radio" name="drink" value="1"> COFFEE.  NEED CAFFINE. <br>
	<input type="radio" name="drink" value="2"> Tea.  It's so relaxing :) <br>
	<input type="radio" name="drink" value="3"> Smoothies all day every day! <br>
	<input type="radio" name="drink" value="4"> Water duh.  You need it to survive.<br>
	<input type="radio" name="drink" value="5"> Fruit juice! There are so many!<br>
	<input type="submit" value="Submit">
	</form>
</question>

{% endblock %}
